﻿@model PassionProjectN01661067.Models.SupplierDto
@{
    ViewBag.Title = "Show";
}

<h2>Show Suppliers</h2>
<a href="/Supplier/List">Go back to list</a>



<h2>@Model.SupplierName</h2>
<div>@Model.ContactPerson</div>
<div>@Model.EmailAddress</div>
<div>@Model.SupplierAddress</div>
